<!DOCTYPE html>
<html>
<head>
    <title>SkillBridge</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<nav class="navbar">

    <div class="logo">
        <a href="{{ url_for('home') }}">
            <span class="logo-text">SkillBridge</span>
        </a>
    </div>

    <div class="nav-links">
        <a href="{{ url_for('home') }}">Home</a>
        <a href="{{ url_for('analyzer') }}">Skill Analyzer</a>
        <a href="{{ url_for('learn') }}">Learn</a>
    </div>

</nav>

{% block content %}
{% endblock %}

</body>
</html>