{% extends "base.html" %}

{% block content %}

<div class="result-container">

<div class="result-card">

<h2>Select a Career Path to Learn</h2>

<form action="/mentors" method="GET">

<select name="role" required style="padding:10px;border-radius:6px;margin-top:15px;">

<option value="">-- Select Career Path --</option>

{% for key, value in roles.items() %}

<option value="{{ key }}">{{ value }}</option>

{% endfor %}

</select>

<br><br>

<button type="submit" class="mentor-btn">
Start Learning
</button>

</form>

<br><br>

<p style="color:#22d3ee;font-style:italic;">
"Learning never exhausts the mind."
</p>

</div>

</div>

{% endblock %}